/*导航 class header*/
html, body {
    height: 100%;
    width: 100%;
    min-width: 1200px;
}
body {
    font: 14px/1.5 "PingFang SC", "微软雅黑", "Microsoft YaHei", Helvetica, "Helvetica Neue", Tahoma, Arial, sans-serif;
    color: #1c1f21;
    height: 100%;
    background-color: #f8fafc !important;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
.header .page-container{
    width: auto;
    padding-right: 10px;
    z-index: 900;
    box-shadow: 0px 4px 8px 0px rgba(7,17,27,0.1);
    position: relative;
}
.header .logo{
    float: left;
    margin: 0 20px;
}
.header .logo a{

    display: block;
    width: 140px;
    height: 72px;
}
.header .logo img{
    height: 72px;
}
ul{
    list-style: none;
}
.header .nav-item li{
    float: left;
}
.header .nav-item li a{
    padding:  0 20px;
    display: block;
    /*color: rgba(255, 255, 255, 0.6);*/
    text-align: center;
    font-size: 16px;
    height: 72px;
    line-height: 72px;
    /*-webkit-transition: background-color 0.3s;*/
    /*-moz-transition: background-color 0.3s;*/
    transition: background-color 0.3s;
    position: relative;
    color: #4D555D !important;
}
.nav-item li > a {
    padding: 0 10px !important;
}
.header .nav-item li a .icn-new {
    position: absolute;
    display: inline-block;
    top: 14px;
    width: 16px;
    height: 16px;
    background: url("../../img/2.png") no-repeat 0 0;
}
.header .login-area{
    float: right;
    position: relative;
    margin: 0 8px;
}
.header .login-area .header-unlogin >li{
    float: left;
}

.header .login-area .app-download>a {
    padding: 0 15px;
    font-size: 14px;
}
.login-area .app-download a {
    color:#71777d !important;
}

.header .login-area .app-download{
    line-height: 72px;
    color: rgba(255,255,255,0.6);
}
.app-download{
    position: relative;
}
.header .login-area .shop-cart{
    height: 72px;
    line-height: 72px;

    /*margin: 18px 0;*/

}
.shop-cart{
    position: relative;
}
.header .login-area .shop-cart .shop-cart-icon{
    display: inline-block;
    padding: 0 18px;
    width: auto;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 18px;
    height: 36px;
    line-height: 34px;
    color: #787d82;
    text-align: center;

}
.shop-cart .shop-cart-icon{
    border: 1px solid #D9DDE1 !important;
}
.shop-cart .shop-cart-icon .icon-shopping-cart{
    position: relative;
    top: 2px;
    font-size: 16px;
    margin-right: 8px;

}
.shop-cart .shop-cart-icon span{
    color: #71777d;
}
.s1{
    margin-left:-5px ;
}
.icon-shopping-cart:before{
    /*font-family: 'icomoon';*/
    content: "\e929";
}
.icon-search:before{
    /*font-family: 'icomoon';*/
    content: "\e610";
}
@font-face {
    font-family: 'icomoon';
    /*src: url('../icomoon.eot');*/
    src:url('../../icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.clearfix:after {
    content: '\0020';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.header .login-area .header-unlogin .header-signin{
    color: #D9DDE1;
}
.header .login-area .header-unlogin .header-signin{
    margin-left: 12px;
}
.header .page-container .login-area .header-unlogin .header-signin a {
    color: #4D555D;
}
.header .login-area .header-unlogin .header-signin a {
    display: inline-block;
    padding: 0 12px;
    height: 72px;
    line-height: 72px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

@media screen and (max-width: 1479px){
    .search-warp{
        margin-left: 10px!important;
    }
    .search-area{
        width: 180px!important;
    }
}
.search-warp{
    position: relative;
    float: left;
    /*padding-right:  40px;*/
    /* width: 180px;*/
}
.search-warp .search-area{
    border-bottom: 1px solid #D9DDE1;
}
.search-area{
    float: right;
    position: relative;
    height: 46px;
    width: 260px;
    padding-right: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    zoom: 1;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
}
.search-area .search-warp .search-input{
    color: #71777d;
}
.search-area .search-input{
    padding: 12px 0;
    width: 100%;
    /*width: 180px;*/
    height: 46px;
    line-height: 22px;
    font-size: 12px;
    float: left;
    border: 0;
    color: #fff;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    background-color: transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    outline-color:snow;
}
.search-area{
    margin: 13px 0;
}
.search-area .btn_search{
    float: left;
    cursor: pointer;
    width: 30px;
    text-align: center;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.search-warp .showhide-search {
    width: 36px;
    height: 24px;
    text-align: right;
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 24px;
    padding: 0 8px;
    border-radius: 18px;
}
.search-warp .showhide-search i {
    display: block;
    height: 24px;
    color: #757a7e;
    cursor: pointer;
    font-size: 20px;
    line-height: 24px;
    width: 20px;
}
/*.search-warp .showhide-search {*/
/*    width: 36px;*/
/*    height: 24px;*/
/*    text-align: right;*/
/*    position: absolute;*/
/*    display: inline-block;*/
/*    right: 0;*/
/*    bottom: 24px;*/
/*    padding: 0 8px;*/
/*    border-radius: 18px;*/
/*}*/

.app-download .app-load-box {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 304px;
    padding: 10px 24px 22px;
    box-sizing: border-box;
    background-color: #fff;
    color: #4D555D;
    line-height: 16px;
    box-shadow: 0 8px 16px 0 rgba(7, 17, 27, 0.2);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    z-index: 99999;
    font-size: 12px;
}
.app-download .app-load-box h4 {
    margin: 12px 0;
    font-size: 14px;
    color: #1C1F21;
    text-align: center;
    line-height: 22px;
}
.app-download .app-load-box img {
    width: 108px;
    height: 108px;
}

.app-download .app-load-box a.app-load-btn {
    display: block;
    color: #fff !important;
    width: 132px;
    height: 36px;
    margin-bottom: 8px;
    line-height: 36px;
    background: #4D555D;
    border-radius: 18px;
}

.icon-apple:before {
    content: "\e643";
}
.icon-android:before {
    content: "\e644";
}
.app-download .app-load-box p {
    margin-top: 12px;
    text-align: center;
}
.app-download .app-load-box a.app-load-btn i {
    font-size: 16px;
    margin: 0 8px 0 8px;
    vertical-align: -2px;
}
.app-download .app-load-box a.app-load-btn1 i {
    font-size: 16px;
    margin: 0 8px 0 8px;
    vertical-align: -2px;
}
/*购物车*/
.header .login-area .shop-cart .my-cart {
    top: 54px;
}
.shop-cart .my-cart {
    display: none!important;
    width: 344px;
    padding: 0 16px;
    position: absolute;
    right: 0;
    background: #fff;
    box-sizing: border-box;
    z-index: 99999;
    box-shadow: 0 8px 16px 0 rgba(28,31,33,0.2);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.shop-cart .my-cart .cart-title-box {
    padding: 13px 12px;
    border-bottom: 1px solid #D3D6D9;
}
.shop-cart .my-cart .cart-title-box h2 {
    font-weight: bold;
    font-size: 14px;
    color: #1C1F21;
}
.shop-cart .my-cart .cart-title-box h2, .shop-cart .my-cart .cart-title-box h5 {
    height: 24px;
    line-height: 24px;
}
.shop-cart .my-cart .cart-title-box h5 {
    font-size: 12px;
    color: #9199A1;
}
.shop-cart .my-cart .cart-title-box h2, .shop-cart .my-cart .cart-title-box h5 {
    height: 24px;
    line-height: 24px;
}
.shop-cart .my-cart .cart-wrap .clear-cart {
    height: 284px;
    text-align: center;
}
.shop-cart .my-cart .cart-wrap .clear-cart .cartIcon {
    margin: 36px 0 8px;
    display: inline-block;
    font-size: 72px;
    color: #D3D6D9;
}
.shop-cart .my-cart .cart-wrap .clear-cart h3 {
    font-size: 14px;
    color: #545C63;
    text-align: center;
    line-height: 24px;
}

.shop-cart .my-cart .cart-wrap .clear-cart .text {
    margin-bottom: 8px;
    font-size: 12px;
    color: #9199A1;
    text-align: center;
    line-height: 24px;
}
.shop-cart .my-cart .cart-wrap .clear-cart .go-link {
    display: block;
    color: rgba(240,20,20,0.6);
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 4px;
}
.shop-cart .my-cart .more-box {
    padding: 16px 12px;
    border-top: 1px solid #D3D6D9;
}
.shop-cart .my-cart .more-box .show-box {
    height: 32px;
    line-height: 32px;
    font-size: 12px;
}
.shop-cart .my-cart .more-box .show-box .text {
    color: #93999f;
}
.shop-cart .my-cart .more-box .show-box .text a {
    color: #93999f;
}
.shop-cart .my-cart .more-box .go-cart {
    width: 96px;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    padding: 8px 22px;
    background: rgba(240,20,20,0.8);
    border-radius: 16px;
    border: none;
}
.submenu {
    background: #fff;
    position: absolute;
    left: 216px;
    top: 0px;
    width: 768px;
    height: 444px;
    z-index: 581;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.submenu .innerBox {
    background-color: #fff;
    padding: 12px 48px 32px;
    position: relative;
    min-height: 150px;
}
.submenu .subinnerBox {
    overflow: hidden;
    box-sizing: border-box;
}
.submenu .banner-line {
    position: relative;
    height: 1px;
    margin: 35px 0 23px 0;
    background-color: rgba(77, 85, 93, 0.08);
}
.submenu .banner-line span {
    position: absolute;
    top: -12px;
    left: 0;
    padding-right: 12px;
    font-size: 14px;
    font-weight: bold;
    color: #F20D0D;
    line-height: 24px;
    background-color: #fff;
}
.bold {
    font-weight: 700!important;
}
.mr10 {
    margin-right: 10px!important;
}
.submenu .tag-box {
    font-size: 0;
}
.submenu .tag-box a {
    margin-bottom: 16px;
    font-size: 14px;
    color: #4D555D;
    line-height: 22px;
    margin-right: 24px;
    display: inline-block;
}
.recomment-box {
    position: absolute;
    bottom: 0;
    background: #F8FAFC;
    padding: 36px 0 0px 48px;
}
.recomment-box .banner-course-card {
    width: 312px;
    height: 60px;
    margin-right: 48px;
    margin-bottom: 36px;
}
.recomment-box a {
    display: block;
    width: 100%;
    height: 100%;
}
.recomment-box .banner-course-card img {
    width: 64px;
    height: 42px;
    border-radius: 4px;
    background-color: #ccc;
}
.recomment-box .banner-course-card .course-card {
    margin-left: 16px;
}
.recomment-box .banner-course-card .course-card-name {
    width: 232px;
    font-size: 12px;
    color: #07111B;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.recomment-box .banner-course-card .course-card-info, .recomment-box .banner-course-card .course-card-price {
    font-size: 12px;
    color: #4D555D;
    line-height: 20px;
}
.imv2-dot_samll:before {
    content: "\e94c";
}
.icon-set_sns:before {
    content: "\e923";
}
.carousel-inner{
    width: 936px;
    height: 316px;
}
.carousel-item img{
    width: 100%;
    height: 100%;
}
/*.carousel-control-prev-icon{*/
/*    margin-left: -100px;*/
/*}*/
.carousel-control-prev-icon1{
    font-size: 20px;
    font-weight:bold;
    color:gainsboro;
    margin-left: -10px;
}
.carousel-control-next-icon1{
    font-size: 20px;
    font-weight:bold;
    color:gainsboro;
    margin-right: -10px;

}
.carousel-control-prev{
    width: 36px;
    height: 60px;
    margin-top: 125px;
}
.carousel-control-next{
    width: 36px;
    height: 60px;
    margin-top: 125px;
}

/*轮播图下面*/
.path-banner {
    position: relative;
    height: 128px;
    padding: 0 18px;
    overflow: hidden;
    box-shadow: 0px 4px 8px 0px rgba(7, 17, 27, 0.1);
    background-color: #fff;
    text-align: center;
    margin-top: 316px;
}
.path-banner > a {
    float: left;
    font-size: 0;
    display: block;
    width: 20%;
    height: 128px;
    overflow: hidden;
    transition: all .3s;
}
.path-banner .i-web {
    background-position: center 0;
}
.path-banner i {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url(../../img/201.png) no-repeat;
    background-size: 100%;
    margin-top: 22px;
}
.path-banner .tit {
    font-size: 14px;
    color: #07111B;
    letter-spacing: 1px;
    margin-top: 4px;
}
.path-banner .desc {
    font-size: 12px;
    color: #93999F;
    line-height: 16px;
    margin-top: 2px;
    font-weight: 400;
}
.path-banner .i-java {
    background-position: center -36px;
}
.path-banner .i-python {
    background-position: center -72px;
}
.path-banner .i-android {
    background-position: center -108px;
}
.path-banner .i-php {
    background-position: center -144px;
}
.path-banner::before {
    content: " ";
    background: url(../../img/202.png) no-repeat;
    width: 68px;
    height: 68px;
    position: absolute;
    left: 0;
    top: 0;
}


/*新人有礼*/
/*a:link{*/
/*    color: #1C1F21;*/
/*}*/
.newcomer{
    width:100%;
    height:136px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    background-image: url(../../img/8.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.newcomer i{
    position: absolute;
    right: 20px;
    bottom: 48px;
    font-size: 20px;
    color: rgba(255,255,255,0.6);
}
@font-face {
    font-family: 'imv2';
    /*src: url('../imv2.eot');*/
    src: url('../../imv2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

[class^="imv2-"], [class*=" imv2-"] {
    font-family: 'imv2' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    font-feature-settings: "liga";
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
}
.imv2-close:before{
    content: "\e621";
}
/*中间模块*/
.main{
    display: block;
    padding: 0;
    min-height:calc(100% - 140px);
}
.main > .bgfff{
    box-shadow:  0px 2px 8px 0px rgba(7,17,27,0.06);
}
.bgfff{
    background-color: #fff !important;
}
.container-types{
    width: 1152px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 36px 0 48px;
}
/*轮播图*/
.banner-box {
    padding-top: 32px;
}

.g-banner {
    position: relative;
    height: 444px;
    overflow: hidden;
    width: 1152px;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
}
.g-banner {
    background-color: #93999f;
    box-shadow: 0 12px 24px 0 rgba(7, 17, 27, 0.2);
}

.menuwrap {
    background-color: rgba(7, 17, 27, 0.5);
    opacity: 0.502;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 216px;
    height: 444px;
    z-index: 1;
}
.menuwrap {
    background-color: rgba(7, 17, 27, 0.5);
    opacity: 0.502;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 216px;
    height: 444px;
    z-index: 1;
}
.menuContent {
    position: relative;
    float: left;
    width: 216px;
    height: 444px;
    z-index: 2;
    padding-top: 12px;
    box-sizing: border-box;
    background: #2b333b;
    border-bottom-left-radius: 4px;
    font-weight: 400;
}
.menuContent .item {
    height: 60px;
    line-height: 60px;
    font-size: 12px;
    cursor: pointer;
    padding-left: 12px;
    position: relative;
}
.menuContent .item > a {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    padding: 0 16px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    /* border-bottom: 1px solid rgba(255,255,255,0.2); */
    height: 60px;
}
.menuContent .item .group {
    font-size: 14px;
}
.menuContent .item i {
    position: absolute;
    right: 8px;
    top: 21px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
}
.imv2-arrow1_r:before {
    content: "\e5cb";
}
/*图片区*/
.g-banner .g-banner-content {
    position: relative;
    float: left;
    width: 936px;
}
.g-banner .g-banner-content {
    position: relative;
    float: left;
    width: 936px;
}
.g-banner .banner-slide {
    position: absolute;
    display: none;
    width: 936px;
    height: 316px;
    /* margin: auto; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center 0;
}
.g-banner .banner-slide img {
    width: 100%;
    height: 100%;
}
img {
    border: 0;
}
.g-banner .banner-dots {
    position: absolute;
    bottom: -320px;
    left: 0;
    right: 0;
    text-align: right;
    padding-right: 24px;
    line-height: 12px;
}
/*.g-banner .banner-dots span {*/
/*    display: inline-block;*/
/*    width: 8px;*/
/*    height: 8px;*/
/*    border-radius: 50%;*/
/*    margin-left: 8px;*/
/*    background: rgba(7, 17, 27, 0.8);*/
/*    border: 1px solid rgba(255, 255, 255, 0.6);*/
/*    transition: transform .2s;*/
/*    cursor: pointer;*/
/*}*/

/*实战推荐*/
.container-types .types-title{
    position: relative;
    font-size: 14px;
    color: #93999F;
    letter-spacing: 0.6px;
    line-height: 36px;
    text-align: center;
}
.container-types .types-title span.icon-shizhan-l {
    background-position: center 0;
}
.container-types .types-title .tit-icon-l {
    margin-right: 24px;
}
.container-types .types-title .tit-icon{
    display: inline-block;
    vertical-align: bottom;
    width: 56px;
    height: 36px;
    background: url(../../img/26.png) no-repeat;
    background-size: 100%;
}
.container-types .types-title em{
    font-size: 20px;
    font-weight: 600;
    color: #4D555D;
    margin: 0 8px;
}
em{
    font-style: normal;
}
.container-types .types-title span.icon-shizhan-r {
    background-position: center -36px;
}

.container-types .types-title .tit-icon-r {
    margin-left: 24px;
}
.container-types .types-content{
    margin-top: 24px;
    margin-left: -18px;
}
.container-types .index-card-container{
    float: left;
    margin-left: 18px;
    border-radius: 4px;
    margin-bottom: 12px;
}
.course-card-container{
    width: 216px;
    height: 252px;
    position: relative;
    transition: .3s all linear;
}
.container1 {
    margin: 0 auto;
}
a:link{
    color: #1c1f21;
}
:link{
    text-decoration: none;
}
a{
    outline: none;
}
.course-card-container .course-card-top.hashadow{
    overflow: hidden;
}
.course-card-container .course-card-top{
    width: 216px;
    height: 120px;
    position: relative;
    border-radius: 8px;
    transition: all .3s;
}
.course-card-container .course-card-top .course-banner{
    width: 100%;
    height: 100%;
    background-color: #f3f5f7;
    border-radius: 8px;
}
img{
    border:0;
}
.course-card-container .course-card-top .course-label{
    position: absolute;
    bottom: 6px;
    left: 8px;
    font-size: 12px;
    color: #ffffff;
    line-height: 16px;
}

.course-card-container .course-card-content{
    padding: 8px;
    height: 112px;
}

.course-card-container .course-card-content .course-card-name{
    font-size: 16px;
    color: #07111b;
    line-height: 24px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
    transition: all .3s;
    font-weight:bold;
    height: 46px;
}

.course-card-container .course-card-content .course-card-info {
    font-size: 12px;
    color: #93999F;
    line-height: 24px;
    margin-top: 8px;
    font-weight: 400;
}
.course-card-container .course-card-content .course-card-info span{
    display: inline-block;
    margin-right: 15px;
}
.imv2-set-sns:before {
    content: "\e904";
}
.course-card-container .course-card-content .course-card-info .course-star-box {
    color: rgba(255, 153, 0, 0.4);
    margin-right: -18px;
}
.course-card-container .course-card-content .course-card-info .course-star-box .on {
    color: #ff9900;
    margin: 0px;
}
.icon-star2:before {
    content: "\e900";
}
.course-card-price{
    font-size: 12px;
    color:#4D555D;
    font-weight: bold;
}
.course-card-container .course-stat.new {
    background-color: #FFAA00;
    background-image: linear-gradient(90deg, #ffaa00 17%, #f76b1c 100%);
}

.course-card-container .course-stat {
    position: absolute;
    border: 2px solid #FFFFFF;
    border-radius: 12px;
    top: 8px;
    left: -8px;
    z-index: 4;
    font-family: 'dincondm';
    font-size: 12px;
    color: #FFFFFF;
    line-height: 20px;
    padding: 0 8px;
}
.course-card-price{
    font-size: 12px;
    color: #4d555d;
    font-weight: bold;
}
.course-card-container .cost-price{
    margin-left:7px;
    color: #4d555d;
    text-decoration: line-through;
}
.course-card-price .sales-tip{
    /*box-sizing: border-box;*/
    background: rgba(242, 13, 13, 0.6);
    border-radius: 4px;
    color: #fff;
    padding: 0 4px;
    display: inline-block;
    text-align: center;
    position: relative;
    margin-left:4px ;
}

.course-card-price .sales-tip .sales-end-timer-parent {
    display: none;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 17px;
    background-color: #F47474;
    border-radius: 2px;
    position: absolute;
    white-space: nowrap;
    padding: 3px 12px;
    top: -30px;
    left: 0px;
}
.course-card-price .sales-tip .sales-end-timer-parent i {
    font-style: normal;
}
.course-card-price .sales-tip .sales-end-timer-triangle {
    display: none;
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #F47474;
    font-size: 0px;
    line-height: 0px;
    position: absolute;
    left: 20px;
    top: -7px;
}
.course-card-container .course-stat.hot{
    background-color: #F02930;
    background-image: linear-gradient(90deg, #f68688 0%, #f02930 100%);
}
/*新上好课*/
.container-types .types-title span.icon-new-l {
    background-position: center -72px;
}

.container-types .types-title span.icon-new-r {
    background-position: center -108px;
}
.course-card-container .course-card-top .course-label label {
    display: inline-block;
    background: rgba(28, 31, 33, 0.6);
    border-radius: 4px;
    padding: 4px 8px;
    margin-right: 4px;
    margin-bottom: 2px;
    margin-right: 4px;
    font-weight: 200;
}
.course-card-container .course-stat.upgrade {
    background-color: #9447EB;
    background-image: linear-gradient(90deg, #bd89f8 6%, #9447eb 93%);
}
/*新手入门*/
.container-types .types-title span.icon-job-l {
    background-position: center -144px;
}
.container-types .types-title span.icon-job-r {
    background-position: center -180px;
}
element.style {
    background: url(//img.mukewang.com/5cbd837….jpg) no-repeat center center;
    background-size: 100%;
}
.container-types .adsense-box {
    margin-bottom: 36px;
    margin-left: 18px;
    border-radius: 8px;
    transition: all 0.3s;
    text-align: center;
}
.l {
    float: left;
}
.container-types .adsense-box a {
    display: block;
    width: 567px;
    height: 108px;
    border-radius: 8px;
    overflow: hidden;
    padding: 30px 0;
    box-sizing: border-box;
    background: rgba(7, 17, 27, 0.4);
}
.container-types .adsense-box a h3 {
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    letter-spacing: 2px;
    line-height: 28px;
    text-shadow: 0 2px 2px rgba(7, 17, 27, 0.4);
}
.container-types .adsense-box a p {
    font-size: 12px;
    color: #FFFFFF;
    line-height: 16px;
    text-shadow: 0 2px 2px rgba(7, 17, 27, 0.4);
    margin-top: 4px;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
lement.style {
    background-image: url(../../img/41.jpg);
}
.course-card-container .course-card-top .course-banner .img-up {
    left: 0px;
    top: 0;
    width: 216px;
    height: 120px;
    z-index: 3;
}
.course-card-container .course-card-top
.course-banner .img-up, .course-card-container
.course-card-top .course-banner .img-mid,
.course-card-container .course-card-top
.course-banner .img-down{
    margin: 0 auto;
    position: absolute;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.3s;
}
.course-card-container .course-card-top .course-banner .img-mid {
    top: 4px;
    left: 4px;
    width: 208px;
    height: 120px;
    opacity: 0.4;
    z-index: 2;
}
.course-card-container .course-card-top .course-banner .img-down {
    top: 8px;
    left: 8px;
    width: 200px;
    height: 120px;
    opacity: 0.2;
    z-index: 1;
}
/*技能提升*/
.container-types .types-title span.icon-skill-l {
    background-position: center -216px;
}
.container-types .types-title span.icon-skill-r {
    background-position: center -252px;
}

/*前沿技术*/
.container-types .types-title span.icon-tech-l {
    background-position: center -288px;
}
.container-types .types-title span.icon-tech-r {
    background-position: center -324px;
}

/*猿问手机*/
.container-types .types-title span.icon-art-l {
    background-position: center -360px;
}
.container-types .types-title span.icon-art-r {
    background-position: center -396px;
}
/*1 -左1*/
.container-types .wonderful-list {
    margin-left: 0px !important;
    width: 1152px;
    min-height: 560px;
    position: relative;
}
.container-types .wonderful-list .item {
    position: absolute;
    padding: 24px 32px 32px 32px;
    width: 372px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.05);
    border-radius: 8px;
    transition: all .3s;
    margin-right: 18px;
    margin-bottom: 18px;
}
.container-types .wonderful-list .item label.topic-label {
    display: inline-block;
    font-size: 12px;
    color: #FFFFFF;
    line-height: 24px;
    background: rgba(0, 180, 60, 0.5);
    border-radius: 12px;
    padding: 0 12px;
    margin-bottom: 8px;
}
.container-types .wonderful-list .item .topic-period {
    display: block;
}
.container-types .wonderful-list .item .topic-period .big-tit {
    font-size: 16px;
    color: rgba(0, 180, 60, 0.8);
    line-height: 24px;
    width: 224px;
    transition: all .3s;
}
.container-types .wonderful-list .item .topic-period img {
    width: 72px;
    height: 72px;
    border-radius: 8px;
    background-color: #f3f5f7;
}
.container-types .wonderful-list .item .topic-content {
    font-weight: 400;
    font-size: 12px;
    color: #4D555D;
    line-height: 24px;
    margin-top: 12px;
}
.container-types .wonderful-list .item .bottom-info {
    font-size: 12px;
    color: #93999F;
    line-height: 24px;
    margin-top: 12px;
    font-weight: 400;
}
.container-types .wonderful-list .item .bottom-info a {
    transition: all .3s;
}
.container-types .wonderful-list .item .green {
    color: rgba(0, 180, 60, 0.6);
}
.r{
    float: right;
}
.container-types .wonderful-list .item .bottom-info .icon-right {
    margin-left: 4px;
}
.icon-right:before {
    content: "\e625";
}
.container-types .wonderful-list .item .tit-line {
    position: relative;
    background-color: #D9DDE1;
    height: 1px;
    margin: 24px 0;
    font-weight: 400;
}
.container-types .wonderful-list .item .tit-line span {
    position: absolute;
    font-size: 12px;
    padding-right: 12px;
    color: #93999F;
    background-color: #fff;
    line-height: 16px;
    top: -8px;
    left: 0;
}
/*1-中1*/
.container-types .wonderful-list .item .review-topic .topic-period {
    margin-bottom: 16px;
}
.container-types .wonderful-list .item .review-topic .topic-period .big-tit {
    font-size: 14px;
    color: #4D555D;
    transition: all .3s;
}
.container-types .wonderful-list .item label.article-label, .container-types .wonderful-list .item label.wenda-label {
    line-height: 16px;
    margin-bottom: 8px;
    display: inline-block;
    font-size: 12px;
}
.container-types .wonderful-list .item .blue {
    color: rgba(0, 140, 200, 0.6);
}
.container-types .wonderful-list .item label i {
    font-size: 16px;
    margin-right: 4px;
    vertical-align: text-bottom;
}
.icon-blog:before {
    content: "\e90e";
}
.container-types .wonderful-list .item .article-tit .big-tit.hasimg, .container-types .wonderful-list .item .wenda-tit .big-tit.hasimg {
    width: 224px;
}
.container-types .wonderful-list .item .article-tit .big-tit, .container-types .wonderful-list .item .wenda-tit .big-tit {
    font-size: 16px;
    color: #07111B;
    line-height: 24px;
    transition: all .3s;
}
.container-types .wonderful-list .item .article-tit img, .container-types .wonderful-list .item .wenda-tit img {
    width: 72px;
    height: 48px;
}
.r{
    float: right;
}
.container-types .wonderful-list .item .article-content, .container-types .wonderful-list .item .wenda-content {
    font-size: 12px;
    color: #4D555D;
    line-height: 24px;
    text-align: justify;
    word-break: break-all;
    font-weight: 400;
}
.container-types .wonderful-list .item .article-content {
    margin-top: 8px;
}
.container-types .wonderful-list .item .bottom-info {
    font-size: 12px;
    color: #93999F;
    line-height: 24px;
    margin-top: 12px;
    font-weight: 400;
}
.container-types .wonderful-list .item .bottom-info span {
    margin-right: 24px;
}
.icon-right:before {
    content: "\e625";
}
/*3-中*/
.icon-yuanwen:before {
    content: "\e90f";
}
.container-types .wonderful-list .wenda-tit {
    display: block;
    transition: all .3s;
}

a:link, a:visited {
    color: #1c1f21;
}
/*3-中*/
.container-types .wonderful-list .item .best-label {
    font-size: 12px;
    color: #07111B;
    line-height: 24px;
    display: inline-block;
    margin-top: 8px;
}
p {
    word-break: break-all;
}
/*精英讲师模块*/
.elite-bg {
    background: #f3f5f7 url(../../img/400.jpg) no-repeat center center;
    background-size: cover;
    height: 408px;
}
.container-types {
    width: 1152px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 36px 0 48px;
}
.container-teacher-types .types-title {
    color: rgba(255, 255, 255, 0.4);
}
.container-types .types-title span.icon-teacher-l {
    background-position: center -432px;
}
.container-teacher-types .types-title em {
    color: #ffffff;
}
.container-types .types-title span.icon-teacher-r {
    background-position: center -468px;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}
.container-types .types-title .types-title-more {
    position: absolute;
    color: #93999f;
    height: 20px;
    top: 8px;
    right: 10px;
    font-size: 12px;
    line-height: 36px;
}
.elite-bg .types-title-more {
    transition: all .3s;
    color: rgba(255, 255, 255, 0.6) !important;
}

.container-types .types-title .types-title-more span, .container-types .types-title .types-title-more i {
    float: left;
    margin-right: 4px;
    line-height: 20px;
}
.container-types .types-title .types-title-more i {
    font-size: 16px;
}
.imv2-arrow2_r:before {
    content: "\e409";
}
/*轮播图*/


.lecturer-container {
    overflow: hidden;
}
.lecturer-item{
    float: left;
    position: relative;
    width: 216px;
    height: 248px;
    margin-right: 18px;
    box-sizing: border-box;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px 0 rgba(7, 17, 27, 0.05);
    border-radius: 12px;
    transition: all .3s;
}
.container-types .lecturer-item:last-child {
    margin-right: 0;
}
.container-types .lecturer-list {
    margin-top: 40px;
}
.container-types .lecturer-item .lecturer-uimg {
    position: absolute;
    top: -16.6px;
    left: 50%;
    margin-left: -48px;
    width: 96px;
    height: 96px;
    border-radius: 50%;
}
.container-types .lecturer-item .lecturer-name {
    display: block;
    font-size: 16px;
    line-height: 24px;
    margin-top: 92px;
    padding: 0 36px;
    white-space: nowrap;
    color: #07111b;
    font-weight: 700;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.container-types .lecturer-item .lecturer-title {
    display: block;
    font-size: 12px;
    margin-bottom: 12px;
    color: #4D555D;
    height: 24px;
    line-height: 24px;
}
.container-types .lecturer-item .lecturer-p {
    position: relative;
    top: 0;
    display: block;
    font-size: 12px;
    line-height: 24px;
    color: #4D555D;
    height: 72px;
    padding: 0 36px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: justify;
    word-break: break-all;
    font-weight: 400;
}
.lecturer-container .slider-prev {
    left: -25px;
}
.lecturer-container .slider-prev, .lecturer-container .slider-next {
    position: absolute;
    top: 50%;
    width: 48px;
    height: 48px;
    z-index: 10;
    cursor: pointer;
    margin-top: -16px;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.1);
}
.icon-left2:before {
    content: "\e913";
}
.lecturer-container .icon-left2:before, .lecturer-container .icon-right2:before {
    font-size: 32px;
    color: #9199A1;
    line-height: 32px;
}
.lecturer-container .slider-next {
    right: -25px;
}
.lecturer-container .icon-left2:before, .lecturer-container .icon-right2:before {
    font-size: 32px;
    color: #9199A1;
    line-height: 32px;
}

.icon-right2:before {
    content: "\e914";
}

.lecturer-container .slider-pagination {
    text-align: center;
    padding-top: 16px;
    box-sizing: border-box;
}
.lecturer-container .slider-pagination .swiper-pagination-bullet-active {
    background: #fff;
}
/*吊炸天全明星*/
.container-types .types-title span.icon-star-l {
    background-position: center -504px;
}
.container-types .types-title span.icon-star-r {
    background-position: center -540px;
}
.container-types .star-list .lead-list {
    width: 420px;
    margin: 38px auto 48px;
}
.container-types .star-list .lead-list dd {
    width: 136px;
    text-align: center;
    float: left;
}
.container-types .star-list .lead-list .lead-item-photo {
    width: 56px;
    height: 56px;
    margin: 0 auto;
    position: relative;
}
.container-types .star-list .lead-list .lead-item-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 8px 16px 0 rgba(7, 17, 27, 0.1);
}
.container-types .star-list .lead-list .lead-item-photo span.purple {
    background-position: center 0;
}
.container-types .star-list .lead-list .lead-item-photo span.blue {
    background-position: center -36px;
}
.container-types .star-list .lead-list .lead-item-photo span.yellow {
    background-position: center -54px;
}
.container-types .star-list .lead-list .lead-item-photo span {
    position: absolute;
    width: 26px;
    height: 18px;
    top: -16px;
    left: 15px;
    background: url(../../img/84.png) no-repeat;
    background-size: 100%;
}
.container-types .star-list .lead-list .lead-item-name {
    font-size: 14px;
    color: #07111B;
    line-height: 16px;
    margin-top: 8px;
}
.container-types .star-list .lead-list .lead-item-tit {
    font-size: 12px;
    color: #93999F;
    font-weight: 400;
}
/*1*/
.container-types .star-list .other-list {
    width: 888px;
    margin: auto;
}
.container-types .star-list .other-list dd {
    position: relative;
    float: left;
    border-radius: 48px;
    font-size: 0;
    /* margin-right: 36px; */
    margin-right: 28px;
    margin-bottom: 24px;
    box-sizing: border-box;
    border: 2px solid #fff;
    transition: all .3s;
}
.container-types .star-list .other-list dd a {
    display: block;
    width: 100%;
    height: 100%;
}
.container-types .star-list .other-list img {
    height: 48px;
    width: 48px;
    border-radius: 48px;
    box-sizing: border-box;
    background-color: #f3f5f7;
    border: 2px solid #fff;
}
.container-types .star-list .other-list dd.purple div {
    background: #653ddd;
}
.container-types .star-list .other-list dd div {
    position: absolute;
    display: none;
    border-radius: 8px;
    color: #FFFFFF;
    top: -110px;
    left: -83px;
    width: 202px;
    height: 90px;
    text-align: center;
    box-sizing: border-box;
    padding: 13px 24px 0;
}
.container-types .star-list .other-list dd .title {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
}
.container-types .star-list .other-list dd .nickname {
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.container-types .star-list .other-list dd .desc {
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
    font-weight: 400;
}
.container-types .star-list .other-list dd.purple .cur {
    color: #653ddd;
}
.marr0 {
    margin-right: 0 !important;
}
.marl0 {
    margin-left: 40px !important;
}
.container-types .star-list .other-list dd.blue div {
    background: #008cc8;
}
.container-types .star-list .other-list dd.purple .cur {
    color: #653ddd;
}
.container-types .star-list .other-list dd.blue .cur {
    color: #008cc8;
}
.container-types .star-list .other-list dd div .cur {
    position: absolute;
    bottom: -9px;
    font-size: 40px;
    left: 93px;
    line-height: 20px;
}
/*尾部footer*/
.footer{
    padding: 36px 0;
}
.container{
    margin: 0 auto;
    width: 1152px;
    position: relative;
}
.footer .footer-wrap{
    position: absolute;
    width: auto;
    right: 0;
    bottom: 0;
}
.idx-width{
    margin: 0 auto;
}
.footer .footer-sns{
    padding: 0;
}
.footer-sns{
    text-align: center;
}
.footer .footer-sns >div:first-child{
    margin-right: 32px;
}
.l{
    float: left;
}
.footer .footer-sns a{
    coloer:#D9DDE1;
}
.footer-sns a{
    display: inline-block;
    height: 32px;
    width: 32px;
    /*vertical-align: middle;*/
    background-image: url("../../img/4.png");
    background-repeat: no-repeat;
    margin:0 9px;
}
.footer a{
    font-size:14px;
    line-height: 28px;
}
.footer-sns-weixin{
    position: relative;
    background-position: -52px -221px;
}
.footer-sns-weixin i{
    position: absolute;
    display: none;
    width: 172px;
    height: 212px;
    left: -77px;
    bottom: 40px;
    background: url("../../img/5.png") no-repeat 0 0 ;
}
.footer-sns p{
    font-size: 12px;
    color: #4d555d;
    line-height: 24px;
    margin-top: -2px;
}
p{
    word-break: break-all;
}

.hide-text{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.footer-sns-weibo{
    background-position: 0 -221px;
}
.footer .footer-link{
    text-align: left;
    border: none;
    padding: 0px;
}
.footer-link a{
    color: #99a1a6;
    margin: 0 10px;
}
.footer .footer-copyright{
    font-size: 12px;
    padding: 0;
    padding-left: 10px;
    text-align: left;
    margin-top: 8px;
    color: #93999F;
    line-height: 24px;
}
.moco-emoji{
    width: 18px;
    height: 18px;
    display: inline !important;
    border: 0;
    margin-bottom: 10px;
}
/*<!--滑动条旁边的-->*/
.elevator{
    z-index:900;
    position: fixed;
    padding: 0 16px;
    top: 55%;
    margin-top: -140px;
    right: 0;
    background-color:#fff;
    box-shadow: 0px 4px 12px 0px rgba(7,17,27,0.1);
}
.elevator a{
    display: block;
    width: 26px;
    padding: 16px 0;
    font-size: 22px;
    line-height: 20px;
    color: #b5b9bc;
    box-sizing: border-box;
    text-align: center;
    border-bottom: 1px solid #edf1f2;
}
.elevator a i{
    font-size: 24px;
    color: #D9DDE1;
}
.icon-feedback:before {
    content: "\e906";
}
.elevator a span{
    display:none;
    font-size: 12px;
    color: #07111b;
    line-height: 14px;
}
.elevator .elevator-dist i{
    display: inline-block;
    width: 18px;
    height: 20px;
    background:url("../../img/6.png") no-repeat;
    background-size: 100% 100%;
    background-position: top center;
    margin: 2px 0;
}
.icon-ques:before {
    content: "\e615";
}
.icon-appdownload:before {
    content: "\e908";
}
.elevator .elevator-app-box{
    position: absolute;
    width: 172px;
    height: 212px;
    bottom: -2px;
    right: 56px;
    transition: opacity 0.25s, transform .3s;opacity: 0;
    max-width: 0;
    transform: scale(0.01);
    transform-origin: 100% 95%;
    background:url("../../img/7.png") no-repeat 0 -220px;
}
.icon-wxgzh:before {
    content: "\e907";
}
.elevator .elevator-weixin-box{
    position: absolute;
    width: 172px;
    height: 212px;
    bottom: -2px;
    right: 56px;
    transition: opacity 0.25s, transform .3s;opacity: 0;
    max-width: 0;
    transform: scale(0.01);
    transform-origin: 100% 95%;
    background:url("../../img/7.png") no-repeat 0 0;
}
.elevator .no-goto{
    border-bottom: none;
}
.icon-up2:before {
    content: "\e904";
}
:link, :visited, ins {
    text-decoration: none;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: -68%;
    margin-left: 15%;
    list-style: none;
    margin-bottom:20px;
}

.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    margin-left: 5px;
    text-indent: -999px;
    cursor: pointer;
    background-color: black;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity 0.6s ease;
    border-radius:50%;
    background: rgba(7, 17, 27, 1);
    border: 1px solid rgba(255, 255, 255, 0.6);
}
.carousel-indicators .active {
    opacity: 1;
    background:#fff;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}
.imv2-set-sns{
    margin-right: 2px;
}

/*hover*/
.header .nav-item li a:hover {
    color: #07111b !important;
    text-decoration:none;
}
.search-warp .showhide-search:hover{
    background: rgba(240, 20, 20, 0.4);
}
/*.search-warp .showhide-search .suggest-active{*/
/*    border-bottom-color: red;*/
/*}*/
.header .page-container .login-area
.header-unlogin .header-signin a:hover {
    color: #f01414;
    text-decoration: none;
}
.login-area .app-download > a:hover {
    color: red !important;
    text-decoration: none;
}
.app-download:hover .app-load-box {
    display: block!important;
    text-decoration: none;
}
/*.clear-cart:hover*/
/*.go-link{*/
/*    color: red;*/
/*}*/
.shop-cart .my-cart .more-box .show-box .text a:hover {
    color: #4d555d;
}
.shop-cart .my-cart .more-box .go-cart:hover {
    background-color: #f01414;
}
.app-load-btn:hover{
    background:black!important;
    text-decoration: none;
}
.shop-cart-icon span:hover {
    color: red;
    text-decoration: none !important;
}
.shop-cart:hover .my-cart{
    display: block!important;
}

.item a:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
    text-decoration: none !important;
}
.tag-box a:hover{
    color: red !important;
    text-decoration: none !important;
}
.course-card-container:hover
.course-card-name{
    color: red !important;
}

.course-card:hover{
    text-decoration: none !important;
}
.path-banner a:hover{
    text-decoration: none !important;
}
.path-banner > a:hover{
    margin-top: -4px;
}
.course-card-container:hover .course-card-top .course-banner .img-up {
    top: -10px;
    left: 0px;
    width: 216px;
}
.course-card-container:hover .course-card-top .course-banner .img-mid {
    top: 0px;
    left: 8px;
    width: 200px;
}
.course-card-container:hover .course-card-top .course-banner .img-down {
    top: 10px;
    left: 16px;
    width: 184px;
}
.course-card-container:hover .course-card-top .course-banner {
    background-color: #fff;
}
.container-types .wonderful-list .item .topic-period .big-tit:hover {
    color: #00B43C;
}
.container-types .wonderful-list .item a.green:hover {
    color: #00B43C;
}
.container-types .wonderful-list .item .article-tit .big-tit:hover {
    color: #008CC8;
}
.container-types .wonderful-list .item a.blue:hover {
    color: #008CC8;
}
.container-types .wonderful-list .wenda-tit:hover {
    color: #00B43C;
}
.container-types .star-list .other-list dd.purple:hover {
    border: 2px solid #653ddd;
}
.container-types .star-list .other-list dd.blue:hover {
    border: 2px solid #008cc8;
}
.footer-link a:hover{
    color:black;
    text-decoration: none;
}
.footer .footer-sns a:hover {
    color: #B7BBBF;
}
.footer-sns-weixin:hover {
    background-position: -52px -262px;
}
.footer-sns-weibo:hover {
    background-position: 0 -262px;
}
.elevator-msg:hover
span{
    display: block;
}
.elevator .elevator-msg:hover
i{
    display: none;
}
.elevator a i:hover {
    color: #14191e;
}
.elevator a i:hover {
    color: #14191e;
}
.elevator a:hover{
    text-decoration: none;
}

.elevator-dist:hover
span{
    display: block;
}
.elevator .elevator-dist:hover
i{
    display: none;
}

.elevator-faq:hover
span{
    display: block;
}
.elevator .elevator-faq:hover
i{
    display: none;
}
.elevator-app:hover
span{
    display: block;
}
.elevator .elevator-app:hover
i{
    display: none;
}
.elevator-weixin:hover
span{
    display: block;
}
.elevator .elevator-weixin:hover
i{
    display: none;
}
.elevator-top:hover
span{
    display: block;
}
.elevator .elevator-top:hover
i{
    display: none;
}
.elevator .elevator-app:hover .elevator-app-box {
    display: block;
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    max-width: none;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.elevator .elevator-weixin:hover .elevator-weixin-box {
    display: block;
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    max-width: none;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.g-banner .carousel-control-prev:hover{
    color: #fff;
    background: rgba(7, 17, 27, 0.6);
}
.g-banner .carousel-control-next:hover{
    color: #fff;
    background: rgba(7, 17, 27, 0.6);
}
.login-area a:hover{
    text-decoration: none;
}
.elite-bg .types-title-more:hover {
    color: #ffffff !important;
}
.container-types .lecturer-item:hover {
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(7, 17, 27, 0.2);
}
.container-types .lecturer-item:hover .lecturer-uimg {
    width: 60px;
    height: 60px;
    margin-left: -30px;
    transition: all .3s;
}
.container-types .lecturer-item:hover .lecturer-name, .container-types .lecturer-item:hover .lecturer-title {
    opacity: 0;
}
.container-types .lecturer-item:hover .lecturer-p {
    position: relative;
    height: 168px;
    top: -92px;
    color: #07111B;
    transition: all .3s;
}
.lecturer-list a:hover{
    text-decoration: none;
}
.container-types .wonderful-list .item:hover {
    box-shadow: 0 8px 16px 0 rgba(7, 17, 27, 0.1);
}
.shop-cart .my-cart .cart-wrap .clear-cart .go-link:hover {
    color: #f01414;
}

.lecturer-container .slider-prev:hover, .lecturer-container .slider-next:hover {
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(28, 31, 33, 0.1);
}