html,body{
    width:1000px;
    padding:0;
    margin:0 auto;
    /* background-image: url(img001.jpg) */
}
/* body{
    background-image: url(img001.jpg);
    background-repeat: repeat-x; */
/* } */
html{
    /* background-image: url(img001.jpg) */
}
a{
    text-decoration: none;
    color:#000
}



footer{
    position: absolute;
    top:200px;
    
    overflow: hidden;
    background-color: #e9e9e9;
}
footer a {
    float: left;
    width: 130px;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 17px;
}
footer a:hover{
    background-color: hotpink;
}
.main div{
    padding:20px;
    width:900px;
    /* background-color: aqua; */
    border-top:solid 3px gray;
}
.main #explanation{

}
.main div {
    -moz-column-count: 3; /* Firefox */
    -webkit-column-count: 3; /* Safari 和 Chrome */
    column-count: 3;
    -moz-column-gap: 80px;
    -webkit-column-gap: 80px;
    column-gap: 80px;
    display:inline-block;

    /* background-image: url(./103406sh8r7ntkd3xaq8jt.jpg.thumb.jpg) */
}

.main div h3{
    padding:10px;
}
/* .main div h3::after{
    content:"";

} */

.explanation p{
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.patticipation p, .benefits p, .requirements p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div.summary{
    width:350px;
    position: absolute;
    top:110px;
    left:700px;
    color:#e9e9e9;
}
.preamble::after{
    margin-top: 60px;
}
header{
    margin-bottom: 60px;
}
.summary :last-child{
    display:none;
}
header{
    background-image: url(./img001.jpg);
    background-repeat: no-repeat;
    padding: 80px;
    color:#e9e9e9;
}
#design-archives{
    background-image: url(./img001.jpg);
    background-repeat: no-repeat;
    padding: 20px;
    color:#e9e9e9;
    
}
#design-archives h3{
    display:none;
}

#design-archives li{
    text-align: end;
    color:#e9e9e9;
}
#design-archives a{
    text-align: end;
    color:#e9e9e9;
}
#zen-resources{
    position: fixed;
    top:0;
    left:50px;
    list-style-type: none;
    text-align: left

}
li{
    list-style-type: none;
    text-align: left;
}
div.preamble{
    /* text-align: center; */
    font-style:italic;

}
nav[role="navigation"] a{
    text-decoration: none;
    color:gray;

}
nav[role="navigation"] a:hover{
    background-color: hotpink;
    /* position: relative;
    left:50px; */
}
nav[role="navigation"]{
    position: relative;
    left:-23px;
    color:gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3.select{
    padding-top: 2em;
    /* color:red; */
    text-transform: uppercase;
    position: relative;
    left:16px;
    color:gray;
}


