.two{
    background-color:#4cAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
     border: none;
}
.one{
    position: relative;
    display: inline-block;
}
.three{
    display: none;
    position: absolute;
    background-color:#f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.three a{
    color: black;
    padding:12px 20px;
    text-decoration: none;
    display: block;
}
