body{
    color: #999999;
    background-color: #555555;
    background-image: url("11.jpg");
    background-position: 20% 30%;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

header{
    background-color: #626262;
    border-radius: 20px;
    color:black;
}
.summary{
    float: right;
    padding: 15px;
    font-family: Ani;
    width: 200px;
    color: white;
    /*font-size: 20px;*/
    /*background-color:gainsboro;*/
}
.summary p{
    color: white;
}
.summary p a{
    color: white;
    text-decoration: none;
}
.preamble{
    /*background-color: gainsboro;*/
    font-family: Ani;
    width: 240px;
    color: white;
    padding: 15px;
    float: right;
}
.explanation{
    background-color: gainsboro;
    width: 240px;
    color: black;
    padding: 15px;
}
.participation{
    background-color: gainsboro;
    width: 240px;
    color: black;
    padding: 15px;
}
.participation p a{
    color: black;
    text-decoration: none;
}
.benefits{
    float: right;
    width: 200px;
    position: absolute;
    top: 340px;
    right: 10px;
    font-family: Ani;
    color: white;
}
.requirements{
    width: 500px;
    position: absolute;
    top: 114px;
    right: 490px;
    color: black;
    background-color: white;
    padding: 15px;
    /*margin: 25px;*/
}
.requirements p a{
    color: black;
    text-decoration: none;
}
footer{
    background-color: black;
    height: 50px;
}
.zen-validate-html{
    color: red;
    text-decoration: none;
    float: left;
    font-size: 20px;
    padding: 15px;
}
.zen-validate-css{
    color: red;
    text-decoration: none;
    float: left;
    font-size: 20px;
    padding: 15px;
}
.zen-license{
    color: red;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    top: 1255px;
    left: 600px;
    font-size: 40px;
}
.zen-accessibility{
    color: red;
    text-decoration: none;
    float: right;
    font-size: 20px;
    padding: 15px;
}
.zen-github{
    color: red;
    text-decoration: none;
    float: right;
    font-size: 20px;
    padding: 15px;
}
.design-selection{
    position: absolute;
    left: 239px;
    top: 690px;
    width: 530px;
    background-color: white;
    margin:25px ;
}
.design-selection h3{
    color: black;
}
.design-selection li{
    list-style: none;
}
.design-selection li a{
    color: black;
    text-decoration: none;
    text-align: center;
}
.design-archives{
    position: absolute;
    left: 740px;
    top: 710px;
    width: 530px;
    background-color: white;
    margin:25px ;
    height: 199px;
}
.design-archives h3{
    color: black;
}
.design-archives li{
    list-style: none;
}

.design-archives li a{
    color: black;
    text-decoration: none;
    font-size: 25px;
   padding: 55px;
}
.zen-resources{
    position: absolute;
    left: 239px;
    top: 909px;
    width: 1030px;
    background-color: white;
    margin:25px ;
    height: 320px;
}
.zen-resources h3{
    color:black ;
    text-align: center;
}
.zen-resources li{
    list-style: none;
}
.zen-resources li a{
color: black;
    text-decoration: none;
    text-align: left;
    font-size: 30px;
}